#work > div > div > div > div > div > div > h1{
    color: white;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
    /* -webkit-text-stroke: 0.5px #9ca3af; */
    text-shadow: 2px 2px 5px #374151, 5px 5px 15px #f3f4f6;
}
.w{
    opacity: 0;
    animation: work 0.75s 1s forwards;
    animation-play-state: paused;
}
.o{
    opacity: 0;
    animation: work 0.75s 2.75s forwards;
    animation-play-state: paused;
}
.r{
    opacity: 0;
    animation: work 0.75s 4.5s forwards;
    animation-play-state: paused;
}
.k{
    opacity: 0;
    animation: work 0.75s 6.25s forwards;
    animation-play-state: paused;
}

@keyframes work{
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}

.work-content{
    height: 0;
    /* white-space: nowrap; */
    animation: work-content 2s 1s forwards;
    animation-play-state: paused;
}
@keyframes work-content {
    0% { height: 0; background-color: #020617; }
    90% { height: 190px; background-color: #020617; }
    100% { height: 190px; background-color: transparent; }
}


