.contact{
    width: 0;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: contact-div 3s 1s forwards;
}
@keyframes contact-div {
    0% { width: 0; }
    70% { width: 100%; }
    100% { width: 100%; }
}
.contact-cover{
    z-index: 2;
    width: 0;
    animation: contact-cover 3s 1s forwards;
}
@keyframes contact-cover{
    0% { width: 0; }
    70% { width: 100%; height: 50%; border-color: #6b7280; }
    100% { width: 100%; height: 0; border-color: transparent;}
}

.contact-1{
    opacity: 0;
    animation: contact-item 0.5s 4s forwards;
}
.contact-2{
    opacity: 0;
    animation: contact-item 0.5s 4.5s forwards;
}
.contact-3{
    opacity: 0;
    animation: contact-item 0.5s 5s forwards;
}
.contact-4{
    opacity: 0;
    animation: contact-item 0.5s 5.5s forwards;
}
.contact-5{
    opacity: 0;
    animation: contact-item 0.5s 6s forwards;
}

@keyframes contact-item {
    0% { opacity: 0; }
    25% { opacity: 0.25; }
    50% { opacity: 0.5; }
    75% { opacity: 0.75; }
    100% { opacity: 1; }
}